<mat-grid-list cols="2" class="h-100">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile >
    <div class="flex-column gap-2">
      <h1>Login</h1>
      <div>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Email</mat-label>
          <input matInput type="email" id="email" [(ngModel)]="email">
        </mat-form-field>
        <mat-form-field appearance="outline"  class="w-100">
          <mat-label>Password</mat-label>
          <input matInput type="password" id="password" [(ngModel)]="password">
        </mat-form-field>
        <button mat-flat-button color="primary" type="button" class="w-100" (click)="this.handleLogin()">Login</button>
      </div>
        <button class="mt-2 w-100" mat-flat-button color="warn" (click)="authService.signInWithGoogle()">Sign In With Google</button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
